<%-include('layouts/header')%>
<main>
  <form action="/" method="post">
    <input type="text" placeholder="Programming Language?" name="pLanguage" />
    <button type="submit">Add</button>
  </form>

  <ul>
    <% if(pLan.length > 0){ %> <% for (let x=0; x< pLan.length; x++){ %>
    <li><%= pLan[x] %></li>
    <% } %> <% }else{ %>
    <p>No Data Found!</p>
    <% } %>
  </ul>
</main>
<%-include('layouts/footer')%>
